div{
    margin:  0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;

}

.menu{
    display: flex;
    margin: 40px 50px;
    align-items: center;
    
   
}

.menu li{
    margin-left: 25px;
    font-family:Arial, Helvetica, sans-serif ;
    list-style: none;
}

.d-ola{
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px ;
}