div{
    margin:  0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    margin: 40px 50px;
    align-items: center
}

.menu li{
    margin-left: 25px;
    font-family:Arial, Helvetica, sans-serif ;
    list-style: none;
}

.d-ola{
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px ;
}

.info {
/*background-color: green;*/
text-align: center;
}

.avatar{
    width: 250px;
    border-radius: 125px;
}

.rodape_info{
    /*background-color: blue;*/
    text-align: center;
}

.img_rod{
    width: 700px;
}

.perfil{
    margin-top: -4px;
    background-color: rgb(134, 26, 184);
    text-align: center;
    padding: 40px 40px;
    padding-bottom: 160px;
}

.perfil span{
    font-size: 2rem;
    font-weight: 800;
    font-family: "eurostile", sans-serif;
}

.perfil p{
    line-height: 30px;
    font-family: "europa", sans-serif;
    color: white;
}

.perfil_texto {
    margin: auto;
    text-align: center;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    box-sizing: border-box;
    line-height: 50px;
}

.perfil_texto p{
    line-height: 40px;
}

/**************Apresentação serviços*************/

.colunas {
    
    width: 1200px;
    margin: -150px auto;
    display: flex;
    border-radius: 25px;
    margin-bottom: 10px;

}

.div1{
    align-items: center;
    display: block;
    
    justify-content: center;
    text-align: center;
    width: 35%;
    max-width: 37%;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 25px 0 0 25px;
    border-right: 1px solid grey;
    background-color: white;
    border-top: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);;
    border-left: 1px solid rgb(219, 219, 219);;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.div2{
    align-items: center;
    display: block;

    justify-content: center;
    text-align: center;
    width: 35%;
    max-width: 37%;
    box-sizing: border-box;
    padding: 35px;
    border-right: 1px solid grey;
    background-color: white;
    border-top: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);;
    border-left: 1px solid rgb(219, 219, 219);;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.div3{
    align-items: center;
    display: block;

    justify-content: center;
    text-align: center;
    width: 35%;
    
    box-sizing: border-box;
    padding: 35px;
    border-radius: 0 25px 25px 0;
    border-right: 1px solid grey;
    background-color: white;
    border-top: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);;
    border-left: 1px solid rgb(219, 219, 219);;
    border-bottom: 1px solid rgb(219, 219, 219);
  
}

.subtitulo{
    color: rgb(134, 26, 184);
}

.div1 ul{
    
    
    margin-left: -30px;
}

.div1 li{
    vertical-align: initial;
    list-style: none;
    box-sizing: inherit;
}

.div2 ul{
    
   
   margin-left: -30px;
}

.div2 li{
    vertical-align: initial;
    list-style: none;
    box-sizing: inherit;
}

.div3 ul{
    
  
   margin-left: -30px;
}

.div3 li{
    vertical-align: initial;
    list-style: none;
    box-sizing: inherit;
    
}

/****************Grade***************************/
.container-grade{
    text-align: center;
    margin-top: 150px;
    
   

}

.container-grade p{
    margin: auto;
    margin-bottom: 100px;
    
}
.grade1{
    margin: auto;
    padding: 10px;
    max-width: 1208px;
    background-color: yellow;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px
    
}

.grade1 div{
    border-radius: 20px;
    text-align: center;
    height: 250px;
    background-size: cover;
  
}

.gride1{
    background-image: url('/src/imagens/Africa.jpg');
    
}

.gride2{
    background-image: url('/src/imagens/Alemanha.jpg');
}

.gride3{
    background-image: url('/src/imagens/Berlim.jpg');
}

.gride4{
    background-image: url('/src/imagens/Japão.jpg');
}

.gride5{
    background-image: url('/src/imagens/New-York.jpg');
}

.gride6{
    background-image: url('/src/imagens/França.jpg');
}


.botao{
    margin-top: 80px;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
    cursor: pointer;
   

}

.empresas{
    margin: 100px auto;
    max-width: 600px;
    text-align: center;
    font-size: medium;

}

.grade_empresas{
    display:grid;
    margin: auto;
    padding: 10px;
    max-width: 1208px;
    background-color: yellow;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-bottom: 150px;

}

.grade_empresas div{
    border-radius: 20px;
    text-align: center;
    height: 200px;
    
    
}

.empresa1{
    background-image: url('/src/imagens/Apple.png');
    background-size: cover;
}

.empresa2{
    background-image: url('/src/imagens/Adidas.png');
    background-size: cover;
}

.empresa3{
    background-image: url('/src/imagens/Accenture.png');
    background-size: cover;
}

.empresa4{
    background-image: url('/src/imagens/Google.png');
    background-size: cover;
}

.empresa5{
    background-image: url('/src/imagens/Harley.png');
    background-size: cover;
}

.empresa6{
    background-image: url('/src/imagens/Nike.png');
    background-size: cover;
}

.empresa7{
    background-image: url('/src/imagens/Puma.png');
    background-size: cover;
}

.empresa8{
    background-image: url('/src/imagens/Lacoste.png');
    background-size: cover;
}


/**********************Grade Startup***************/

.grade-startup{
    
    display:grid;
    margin: -150px auto;
    padding: 10px;
    max-width: 1200px;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 387px 387px 387px ;
    grid-gap: 20px;
    margin-bottom: 150px;
    

}

.grade-startup div{
    height: 350px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    
    

}

.em-construção{
    margin-left: 10px;
}

.startup1{
  
    padding: 30px;
    border: 1px solid rgb(219, 219, 219);
    }
    .shadow{
        max-width: 80%;
    }

    .p-shadow{
        margin-top: 30px;
        margin-bottom: 30px;
    }
.link{
    text-decoration: none;
    color: rgb(55, 20, 87);
}
    

.startup2{
    border: 1px solid rgb(219, 219, 219); 
    padding: 30px; 
}
.red{
    max-width: 100%;
}

.startup3{
    border: 1px solid rgb(219, 219, 219);
   
    padding: 30px;
}

.netflix2{
    max-width: 80%;

}

.startup4{
    border: 1px solid rgb(219, 219, 219);
    padding: 30px; 
}

.startup5{
    border: 1px solid rgb(219, 219, 219);
    padding: 30px; 
}

.startup6{
    border: 1px solid rgb(219, 219, 219);
    padding: 30px; 
}

.div-info-startup{
    max-height: 150px;
   
}/************************Chamada***********/

.chamada{
    text-align: center;
    margin: 50px;
}

.botao2{
    margin-top: 80px;
    padding: 15px 20px 15px 25px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
    cursor: pointer;
   

}



   
      
   
   
   

    




    
